---
title: Authful by MongoHQ
---

section.landing-hero role="banner"
  div
    h1.ir Authful
    p
      | An open-source API for Two Factor Authentication
      br
      a href="http://mongohq.com"
        ' Made with
        span.icon-heart-fill
        '  by MongoHQ
  a.icon-arrow-down-fill.scroll-trigger href="#"
    span.hidden Scroll Down

section.black.wide
  .row.small-text
    .column.one-third.center-text
      span.iphone
    .column.two-thirds.center-vertically
      h2 The Easiest Way to Implement 2FA
      p We recently implemented 2FA for our customers. An evaluation of the popular two factor authentication services made us realize that ease of development for us came at the price of proprietary mobile applications for end users. We believe end users should have a choice which mobile app they use and we want it to be easy for developers to deliver 2FA. This is why we built Authful.

section.wide.tall.white.center-text
  h1.title-bar Features
  .row.small-text
    .column.one-third
      span.large-icon.icon-iphone-thin.red-text
      h4 Support for multiple mobile&nbsp;apps
    .column.one-third
      span.large-icon.icon-sms-thin.red-text
      h4 SMS integration
    .column.one-third
      span.large-icon.icon-ambulance-thin.red-text
      h4 Fallback numbers and recovery codes

section.center-text
  p.smaller-gutter For more information and documentation, check out the project on Github.
  a.red-btn.outline.inline href="https://github.com/mongohq/authful"
    span.icon-github
    ' View the Project
